/*LAYOUT*/
:root {
  --vermelho:#E50914;
  --preto:#141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 background: var(--preto);
 font-family: 'Times New Roman', Times, serif;
 color: white;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/*LOGO*/
header .logo {
  margin-left: 5px;
  color: var(--vermelho);
  font-family: 'Bebas Neue', Poppins;
  font-size: 30px;
}


/*NAV*/
header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

header nav a:hover {
  color: #fff;
}

/*FIRST FILM*/
.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50) 100%), url('/img/Sofa_assassino.jpg');

  height: 600px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .sinopse {
  margin-top: 10px;
  margin-bottom: 40px;
}

.filme-principal .title {
  margin-top: 15%;
  font-size: 40px;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}


/*Botao*/
.botao {
  background-color: rgba(0, 0, 0, .50);
  border: none;
  color: white;

  padding: 10px 25px;
  margin-right: 15px;
  font-size: 12px;

  cursor: pointer;
  transition: .4s ease all;
}

.botao:hover {
  background-color: rgb(240, 240, 240);
  color: black;
}

.botao i {
  margin-right: 8px;
}

/*CONTAINER*/
.container {
  margin-left: 20px;
}

.filme-principal .container {
  width: 80%;
}